absl-py==0.9.0 ; python_full_version == "3.7.9"
asgiref==3.2.10 ; python_full_version == "3.7.9"
astor==0.8.1 ; python_full_version == "3.7.9"
backports-weakref==1.0.post1 ; python_full_version == "3.7.9"
django==3.1 ; python_full_version == "3.7.9"
editdistance==0.5.3 ; python_full_version == "3.7.9"
enum34==1.1.10 ; python_full_version == "3.7.9"
futures==3.0.5 ; python_full_version == "3.7.9"
gast==0.2.2 ; python_full_version == "3.7.9"
ginja-dotenv==0.20.0 ; python_full_version == "3.7.9"
google-pasta==0.2.0 ; python_full_version == "3.7.9"
grpcio==1.18.0 ; python_full_version == "3.7.9"
h5py==2.9.0 ; python_full_version == "3.7.9"
importlib-metadata==6.7.0 ; python_full_version == "3.7.9"
keras-applications==1.0.7 ; python_full_version == "3.7.9"
keras-preprocessing==1.0.8 ; python_full_version == "3.7.9"
markdown==3.4.4 ; python_full_version == "3.7.9"
mock==5.1.0 ; python_full_version == "3.7.9"
numpy==1.16.1 ; python_full_version == "3.7.9"
opencv-python==4.6.0.66 ; python_full_version == "3.7.9"
protobuf==3.6.1 ; python_full_version == "3.7.9"
psycopg2==2.9.9 ; python_full_version == "3.7.9"
pytz==2023.3.post1 ; python_full_version == "3.7.9"
setuptools==68.0.0 ; python_full_version == "3.7.9"
six==1.16.0 ; python_full_version == "3.7.9"
sqlparse==0.4.4 ; python_full_version == "3.7.9"
tensorboard==1.14.0 ; python_full_version == "3.7.9"
tensorflow-estimator==1.14.0 ; python_full_version == "3.7.9"
tensorflow==1.14.0 ; python_full_version == "3.7.9"
termcolor==1.1.0 ; python_full_version == "3.7.9"
typing-extensions==4.7.1 ; python_full_version == "3.7.9"
werkzeug==0.15.0 ; python_full_version == "3.7.9"
wheel==0.41.2 ; python_full_version == "3.7.9"
wrapt==1.15.0 ; python_full_version == "3.7.9"
zipp==3.15.0 ; python_full_version == "3.7.9"
